# Dependencias de Node.js
node_modules/

# Archivos de configuración de dependencias de yarn/pnpm (si usas)
yarn.lock
pnpm-lock.yaml

# Archivos de compilación de React
dist/
build/

# Archivos de configuración del editor (Visual Studio Code, por ejemplo)
.vscode/
.idea/

# Archivos de sistema
.DS_Store

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos específicos de entornos locales
*.local

# Otros archivos de configuración innecesarios
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
